extends ./layout.pug 
block content 
    include ./navbar.pug
    section.about
        .container 
            .row 
                .col-md-12.col-lg-8
                    .title-single-box
                        h1.title-single Contact US
                        span.color-text-a
                            | 
    section.contact 
        .container 
            .row 
                .col-sm-12
                    .contact-map.box
                        #map.contact-map
                        iframe(width='100%', height='450', src='https://maps.google.com/maps?width=100%&height=450&hl=en&coord=50.44876,-104.61731&q=Regina%2CSK%2CCanada+(Contact)&ie=UTF8&t=&z=14&iwloc=B&output=embed', frameborder='0', scrolling='no', marginheight='0', marginwidth='0') <a href="https://www.maps.ie/draw-radius-circle-map/">Radius map tool</a>
   
            .col-sm-12.section-t8 
                .row 
                    .col-md-7
                        if(success != " ")
                            .alert.alert-success.alert-dismissible.fade-in(role="alert")
                                button.close(type="button" data-dismiss="alert" aria-label="Close")
                                    span(aria-hidden="true") ×
                                p= success
                        form.form-a.contactForm(action='/contact', method='post', role='form', id='contact')
                            //- #sendmessage Your message has been sent. Thank you!
                            //- #errormessage
                            .row
                                .col-md-6.mb-3
                                    .form-group
                                    input.form-control.form-control-lg.form-control-a(type='text', name='name', placeholder='Your Name', data-rule='minlen:4', data-msg='Please enter at least 4 chars')
                                    .validation
                                .col-md-6.mb-3
                                    .form-group
                                    input.form-control.form-control-lg.form-control-a(name='email', type='email', placeholder='Your Email', data-rule='email', data-msg='Please enter a valid email')
                                    .validation
                                .col-md-12.mb-3
                                    .form-group
                                    input.form-control.form-control-lg.form-control-a(type='text', name='subject', placeholder='Subject', data-rule='minlen:4', data-msg='Please enter at least 8 chars of subject')
                                    .validation
                                .col-md-12.mb-3
                                    .form-group
                                    textarea.form-control(name='message', cols='45', rows='8', data-rule='required', data-msg='Please write something for us', placeholder='Message')
                                    .validation
                                .col-md-12
                                    button.btn.btn-a(type='submit') Send Message
                    .col-md-5.section-md-t3
                        .icon-box.section-b2
                            .icon-box-icon
                            span.ion-ios-paper-plane
                            .icon-box-content.table-cell
                            .icon-box-title
                                h4.icon-title Say Hello
                            .icon-box-content
                                p.mb-1
                                | Email.
                                span.color-a  hafsa34343@gmail.com
                                p.mb-1
                                | Phone.
                                span.color-a  +1-306-590-0370
                        .icon-box.section-b2
                            .icon-box-icon
                            span.ion-ios-pin
                            .icon-box-content.table-cell
                            .icon-box-title
                                h4.icon-title Find us in
                            .icon-box-content
                                p.mb-1
                                | Avonhurst Dr
                                br
                                |  Regina, SK, Canada
                        

    include ./footer.pug

