extends ./layout.pug 
block content 
    include ./navbar.pug
    section.intro-single
        .container
            .row
                .col-md-12.col-lg-8
                    .title-single-box
                        h1.title-single Our Blog Posts
                        span.color-text-a Grid blog 
    section.news-grid.grid 
        .container 
            .row 
                .col-md-4 
                    .card-box-b.card-shadow.news-box
                        .img-box-b
                            img.img-b.img-fluid(src='images/post-1.jpg', alt='')
                        .card-overlay
                            .card-header-b
                                .card-category-b
                                    a.category-b(href='#') Travel
                                .card-title-b
                                    h2.title-2
                                        a(href='/blogSingle')
                                            | Travel is comming
                                            br
                                            |  new
                                .card-date
                                    span.date-b 18 Sep. 2017 
                .col-md-4 
                    .card-box-b.card-shadow.news-box
                        .img-box-b
                            img.img-b.img-fluid(src='images/post-1.jpg', alt='')
                        .card-overlay
                            .card-header-b
                                .card-category-b
                                    a.category-b(href='#') Travel
                                .card-title-b
                                    h2.title-2
                                        a(href='/blogSingle')
                                            | Travel is comming
                                            br
                                            |  new
                                .card-date
                                    span.date-b 18 Sep. 2017 
                .col-md-4 
                    .card-box-b.card-shadow.news-box
                        .img-box-b
                            img.img-b.img-fluid(src='images/post-1.jpg', alt='')
                        .card-overlay
                            .card-header-b
                                .card-category-b
                                    a.category-b(href='#') Travel
                                .card-title-b
                                    h2.title-2
                                        a(href='/blogSingle')
                                            | Travel is comming
                                            br
                                            |  new
                                .card-date
                                    span.date-b 18 Sep. 2017 
                .col-md-4 
                    .card-box-b.card-shadow.news-box
                        .img-box-b
                            img.img-b.img-fluid(src='images/post-1.jpg', alt='')
                        .card-overlay
                            .card-header-b
                                .card-category-b
                                    a.category-b(href='#') Travel
                                .card-title-b
                                    h2.title-2
                                        a(href='/blogSingle')
                                            | Travel is comming
                                            br
                                            |  new
                                .card-date
                                    span.date-b 18 Sep. 2017
                .col-md-4 
                    .card-box-b.card-shadow.news-box
                        .img-box-b
                            img.img-b.img-fluid(src='images/post-1.jpg', alt='')
                        .card-overlay
                            .card-header-b
                                .card-category-b
                                    a.category-b(href='#') Travel
                                .card-title-b
                                    h2.title-2
                                        a(href='/blogSingle')
                                            | Travel is comming
                                            br
                                            |  new
                                .card-date
                                    span.date-b 18 Sep. 2017 
                .col-md-4 
                    .card-box-b.card-shadow.news-box
                        .img-box-b
                            img.img-b.img-fluid(src='images/post-1.jpg', alt='')
                        .card-overlay
                            .card-header-b
                                .card-category-b
                                    a.category-b(href='#') Travel
                                .card-title-b
                                    h2.title-2
                                        a(href='/blogSingle')
                                            | Travel is comming
                                            br
                                            |  new
                                .card-date
                                    span.date-b 18 Sep. 2017 
            .row 
                .col-sm-12
                    nav.pagination-a
                        ul.pagination.justify-content-end
                            li.page-item.disabled
                                a.page-link(href='#', tabindex='-1')
                                    span.ion-ios-arrow-back
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item.active
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item.next
                                a.page-link(href='#')
                                    span.ion-ios-arrow-forward
    include ./footer.pug

                
