.section.section-footer 
    .container
        .row 
            .col-sm-12.col-md-4
            .widget-a
              .w-header-a
                h3.w-title-a.text-brand BLOGsite
        .row 
            .col-sm-12.col-md-4
            .w-footer-a
              ul.list-unstyled
                li.color-a
                  span.color-text-a Phone .
                  |  contact@example.com
                li.color-a
                  span.color-text-a Email .
                  |  +54 356 945234 
    footer
      .container
        .row
          .col-md-12
            nav.nav-footer
              ul.list-inline
                li.list-inline-item
                  a(href='#') Home
                li.list-inline-item
                  a(href='#') About
                li.list-inline-item
                  a(href='#') Property
                li.list-inline-item
                  a(href='#') Blog
                li.list-inline-item
                  a(href='#') Contact
            .socials-a
              ul.list-inline
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-facebook(aria-hidden='true')
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-twitter(aria-hidden='true')
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-instagram(aria-hidden='true')
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-pinterest-p(aria-hidden='true')
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-dribbble(aria-hidden='true')
            .copyright-footer
              p.copyright.color-text-a
                | © Copyright
                span.color-a Blog
                |  All Rights Reserved.
            .credits
              | Designed by 
              a(href='/') Hafsa
