// / Nav Star /
nav.navbar.navbar-default.navbar-trans.navbar-expand-lg.fixed-top
  .container
    button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarDefault', aria-controls='navbarDefault', aria-expanded='false', aria-label='Toggle navigation')
      span
      span
      span
    a.navbar-brand.text-brand(href='/')
      | Blog
      span.color-b Site
    button.btn.btn-link.nav-search.navbar-toggle-box-collapse.d-md-none(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-expanded='false')
      span.fa.fa-search(aria-hidden='true')
    #navbarDefault.navbar-collapse.collapse.justify-content-center
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(href='/') Home
        li.nav-item
          a.nav-link(href='/blogGrid') Blog
        li.nav-item
          a.nav-link(href='/about') Contact
        //- li.nav-item.dropdown
        //-   a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        //-     | Pages
        //-   .dropdown-menu(aria-labelledby='navbarDropdown')
            //- a.dropdown-item(href='/blogSingle') Blog Single
            //- a.dropdown-item(href='agents-grid.html') Agents Grid
            //- a.dropdown-item(href='agent-single.html') Agent Single
      ul.navbar-nav.float-right
        li.nav-item
          a.nav-link(href='/adminLogin') Admin
          

   
// / Nav End /
