body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav{
  color: white;
}
.navbar-nav > li > .dropdown-menu { background-color: darkgray; }
a {
  color: #00B7FF;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;

}
.section-t8 h2{
  text-decoration: solid;
  text-align: justify;
  text-transform: uppercase;
  
}

footer a{
  color: black;
  
}

footer h3{
  text-align: center;
}
#footer {
  position: absolute;
  bottom : 0;
  height : 40px;
  margin-top : 40px;
}
