extends ../layout.pug 
block content
    include ./navbar.pug
    .row
        .col-lg-12
            .card
                .card-body
                    .general-label
                        form
                            h4.mt-0.header-title File Upload 
                            p.text-muted.mb-3 
                            .form-group.row
                                label.col-sm-2.col-form-label(for='horizontalInput1')
                                    | Upload
                                    | image
                                .col-sm-10
                                    input#input-file-now-custom-1.dropify(type='file', data-default-file='../assets/plugins/dropify/images/1.jpg')
                            .form-group.row
                                label.col-sm-2.col-form-label(for='title') Title
                                .col-sm-10
                                    input#title.form-control(type='text', placeholder='Title')
                            .form-group.row
                                label.col-sm-2.col-form-label(for='description') Description
                                .col-sm-10
                                    textarea#description.form-control(rows='3')
                            .row
                                .col-sm-10.ml-auto
                                    button.btn.btn-primary(type='submit') Submit
                                    button.btn.btn-danger(type='button') Cancel