#footer
      .container
          .row 
              .col-sm-12.col-md-4
              .widget-a
                .w-header-a
                  h3.w-title-a.text-brand BLOGsite
          .row 
              .col-sm-12.col-md-4
              .w-footer-a
                ul.list-unstyled
                  li.color-a
                    span.color-text-a Phone .
                    |  hafsa34343@gmail.com
                  li.color-a
                    span.color-text-a Email .
                    | +1 306-590-0370