extends ../layout.pug 
block content
    include ./navbar.pug
    .row
        .col-12
            .card
                .card-body
                    h4.mt-0.header-title Default Datatable
                    p.text-muted.mb-3
                    | DataTables has most features enabled by
                    | default, so all you need to do to use it with your own tables is to call
                    | the construction function: 
                    code $().DataTable();
                    | .
                table#datatable.table.table-bordered.dt-responsive.nowrap(style='border-collapse: collapse; border-spacing: 0; width: 100%;')
                    thead
                        tr
                            th Name
                            th Title
                            th Description
                            th Image
                            th Action
                    tbody
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td
                                a.btn.btn-secondary.waves-effect.waves-light(href='')
                                i.mdi.mdi-square-edit-outline
                                |  Edit
                                a.btn.btn-danger.waves-effect.waves-light(href='')
                                i.mdi.mdi-delete
                                |  Delete
                        tr
                            td Garrett Winters
                            td Accountant
                            td Tokyo
                            td 63
                            td
                                a.btn.btn-secondary.waves-effect.waves-light(href='')
                                i.mdi.mdi-square-edit-outline
                                |  Edit
                                a.btn.btn-danger.waves-effect.waves-light(href='')
                                i.mdi.mdi-delete
                                |  Delete
                        tr
                            td Ashton Cox
                            td Junior Technical Author
                            td San Francisco
                            td 66
                            td
                                a.btn.btn-secondary.waves-effect.waves-light(href='')
                                i.mdi.mdi-square-edit-outline
                                |  Edit
                                a.btn.btn-danger.waves-effect.waves-light(href='')
                                i.mdi.mdi-delete
                                |  Delete
                        tr
                            td Cedric Kelly
                            td Senior Javascript Developer
                            td Edinburgh
                            td 22
                            td
                                a.btn.btn-secondary.waves-effect.waves-light(href='')
                                i.mdi.mdi-square-edit-outline
                                |  Edit
                                a.btn.btn-danger.waves-effect.waves-light(href='')
                                i.mdi.mdi-delete
                                |  Delete
                        tr
                            td Airi Satou
                            td Accountant
                            td Tokyo
                            td 33
                            td
                                a.btn.btn-secondary.waves-effect.waves-light(href='')
                                i.mdi.mdi-square-edit-outline
                                |  Edit
                                a.btn.btn-danger.waves-effect.waves-light(href='')
                                i.mdi.mdi-delete
                                |  Delete
                        tr
                            td Brielle Williamson
                            td Integration Specialist
                            td New York
                            td 61
                            td
                                a.btn.btn-secondary.waves-effect.waves-light(href='')
                                i.mdi.mdi-square-edit-outline
                                |  Edit
                                a.btn.btn-danger.waves-effect.waves-light(href='')
                                i.mdi.mdi-delete
                                |  Delete
                        tr
                            td Herrod Chandler
                            td Sales Assistant
                            td San Francisco
                            td 59
                            td
                                a.btn.btn-secondary.waves-effect.waves-light(href='')
                                i.mdi.mdi-square-edit-outline
                                |  Edit
                                a.btn.btn-danger.waves-effect.waves-light(href='')
                                i.mdi.mdi-delete
                                |  Delete
                        tr
                            td Rhona Davidson
                            td Integration Specialist
                            td Tokyo
                            td 55
                            td
                                a.btn.btn-secondary.waves-effect.waves-light(href='')
                                i.mdi.mdi-square-edit-outline
                                |  Edit
                                a.btn.btn-danger.waves-effect.waves-light(href='')
                                i.mdi.mdi-delete
                                |  Delete