extends ./layout.pug 
block content
    include ./navbar.pug
    .row
        .col-12
            .card
                .card-body
                    h4.mt-0.header-title Blog List
                    p.text-muted.mb-3
                   
                table#datatable.table.table-bordered.dt-responsive.nowrap(style='border-collapse: collapse; border-spacing: 0; width: 100%;')
                    thead
                        tr
                            th Image
                            th Title
                            th Description
                            th Action
                    tbody
                        each value in list
                            tr
                                td= value.image
                                td= value.title  
                                td= value.description
                                td
                                    a.btn.btn-secondary.waves-effect.waves-light(href='/addBlog/'+value._id)
                                    i.mdi.mdi-square-edit-outline
                                    |  Edit
                                    a.btn.btn-danger.waves-effect.waves-light(href='/listBlog/delete/'+value._id, onclick="return confirm('Are you sure to delete this record ?');")
                                    i.mdi.mdi-delete
                                    |  Delete
                         
    //- include ./footer.pug