nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Blog
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon

    .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/') Home
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') BLog
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                    a.dropdown-item(href='/addBlog/') Add Blog
                    a.dropdown-item(href='/listBlog') LIst Blog
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') News
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                    a.dropdown-item(href='#') Add news
                    a.dropdown-item(href='#') List news
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') What's new
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                    a.dropdown-item(href='#') Add 
                    a.dropdown-item(href='#') list 
        ul.navbar-nav.float-right
            li.nav-item
                a.nav-link(href='/login') Login
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Accounts
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                    a.dropdown-item(href='#') Setting